@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var joke in Model.Jokes)
    {
        <div class="col-md-4 mt-4">
            <div class="card clearfix">
                <div class="card-header">
                    <h5 class="card-title">@joke.CategoryName</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">@Html.Raw(joke.Content)</p>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-controller="Jokes" asp-route-id="@joke.Id">see more...</a>
                </div>
            </div>
        </div>

    }
</div>
